<ngx-datatable class="material"
               [rows]="tasks"
               [columnMode]="'force'"
               [headerHeight]="50"
               [footerHeight]="50"
               [rowHeight]="35"
               [limit]="5"
>
  <ngx-datatable-column prop="description"></ngx-datatable-column>
  <ngx-datatable-column prop="dueDate" [summaryFunc]="null"></ngx-datatable-column>
  <ngx-datatable-column prop="actions" [minWidth]="50" [width]="50">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <button class="actions-button" mat-raised-button color="primary" status="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="actions-button" mat-raised-button color="warn" (click)="deleteTask($event, value)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
