.actions-button {
  padding: 0.3rem;
  margin-right: 0.5rem;
  position: relative;
  top: -0.7em;
  height: 1.8rem;
  cursor: pointer;
  mat-icon {
    font-size: 1.2rem;
    top: -0.5rem;
    position: relative;
  }
}
